@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Secular+One&display=swap');


:root {
    --main-color: rgb(33, 179, 184);
    --main-light: rgb(199, 247, 250);
    --main-dark: rgb(4, 57, 65);
    --background-dark: rgb(0, 85, 29);
    --dark: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to bottom, var(--background-dark), var(--main-dark), var(--main-dark)) ;
}

.page-container {
    overflow-x: hidden;
    overflow-y: visible;
}

img {
    width: 100%
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Secular One', sans-serif;
}

/* Navigation styling */

.nav-container {
    max-width: 1500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.5rem;
}

.nav-bar {
    background: black;
    height: 5.5rem;
}

.nav-bar h2 {
    font-family: 'Secular One', sans-serif;
    color: #fff;
    padding-left: 2rem;
    font-size: 3rem;
}

.nav-ul li {
    display: inline-block;
    padding: 2rem 2rem;
    font-size: 1.3rem;
    transition: background 1s;
}

.nav-bar li:hover {
    background: var(--main-dark);
}

.nav-ul  li a {
    color: rgb(25, 148, 136);
    transition: color 1s;
}
.nav-ul  li a:hover {
    color: rgb(205, 248, 239);
}

.nav-toggle input,
.nav-bar span {
    display: none;
}

/* Landingpage/Showcase styling */
/* Source: https://www.youtube.com/watch?v=SXQ9l0ScDEA */

.showcase {
    position: relative;
    height: 92vh;
    width: 100%;
}
.showcase img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 20%;;
}
.showcase::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to right, rgb(3, 173, 185),
     rgb(156, 190, 2)) ;
     opacity: .8;
     mix-blend-mode: color;
}

.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgb(29, 29, 29, 1), rgba(105, 104, 104, 0), rgb(29, 29, 29, 1));
}

.showcase-content {
    position: absolute;
    top: 77%;
    left: 55%;
    text-align: center;
    z-index: 1;
    color: #fff;
    margin: auto;
    padding: 1rem;
    animation: showContent 2s ease-in-out forwards;
}

.showcase-content::after {
    content: '';
    position: absolute;
    background: rgb(10, 10, 10, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-right: 3rem;
    z-index: -1;
    transform: skew(-40deg) translateX(-20px);
}


.showcase-text h1 {
    font-size: 3rem;
}
.showcase-text h3 {
    font-size: 2rem;
    transform: translateX(-20px);
}

/* About */

#about {
    max-width: 1100px;
    margin: auto;
    display: flex;
    height: 100vh;
    position: relative;
    
}

#about img {
    object-fit: cover;
    margin: auto;
    width: 100%;
    height: 80%;
    
}

.about-text {
    position: absolute;
    background-image: linear-gradient(to right, rgb(255, 255, 255, 0),rgb(255, 255, 255, 1), rgb(255, 255, 255, 1) ,rgb(255, 255, 255, 1), rgb(255, 255, 255, 1));
    padding: 2rem;
    top: 10%;
    left: 60%;
    right: 10%;
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-text .presentation {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
}

.about-text h3 {
    margin: 1rem 0;
}

.edu {
    margin-left: 4rem;
}

.about-text a {
    color: var(--main-color);
}

/* Colaboaration styling */
#colab {
    max-width: 1100px;
    margin: 0 auto;
    background: rgb(241, 240, 240);
}

#colab:first-child {
    margin-top: 5rem;
}

.article-container {
    display: flex;
}

.article-container:first-child{
    padding-top: 1rem;
}

.article-container:last-child {
    padding-bottom: 1rem;
}


.img-container {
    width: 17rem;
    height: 17rem;
    /* width: 17rem;
    height: 17rem; */
    position: relative;
    flex: 1;
    margin: 2rem;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0,0,0.3);
}
.text-container {
    flex: 2;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    margin: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0,0,0.3);
}


.colab-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.img-container a {
    background: rgb(236, 235, 235, .3);
    position: absolute;
    text-decoration: none;
    color: #fff;
    top: 75%;
    left: 25%;
    text-align: center;
    z-index: 1;
    padding: .5rem;
    border: 1px  solid #fff;
    border-radius: 4px;
    width: 50%;
    font-size: 1.4rem;
    font-weight: bolder;
    z-index: 3;
    transition: background 1s cubic-bezier(0.19, 1, 0.22, 1);
}

/* .img-container a:hover {
    background: var(--main-dark);
} */

/* #colab .text-container a {
    background: var(--main-light);
    text-decoration: none;
    color: var(--main-color);
    text-align: center;
    padding: .4rem;
    border: 2px  solid var(--main-color);
    border-radius: 4px;
    width: 20%;
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 1rem;
} */

.text-container h2 {
    margin-bottom: 1rem;
}

.text-container p {
    margin-top: 2rem;
}

.separation-line {
    width: 30%;
    height: 4px;
    background: var(--main-color);
}

/* The following part was taught in a Brad Traversy udemyclass:
https://www.udemy.com/course/modern-html-css-from-the-beginning/
(in the portfolio-section) */

.img-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: .6;
    transform: translate(-500px, -500px) scale(3) rotate(-28deg);
    z-index: 2;
    transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.img-container:hover::before {
    transform: translate(0, 0) scale(3) rotate(-28deg);
}
.img-container:hover .colab-img {
    transform: scale(1.2);
}

.img-container:hover a {
    background: var(--main-color);
}
.img-container:hover a:hover {
    background: rgb(7, 97, 110);
}

/* Form styling 
Learned alot from this tutorial: https://www.youtube.com/watch?v=rsd4FNGTRBw 
and used alot of it here */
#contact {
    max-width: 1100px;
    margin: 3rem auto 3rem auto;
    height: 85vh;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}

.contact-img-div {
    position: absolute;
    height: 100%;
    width: 60%;
    top: 0;
    right: 0;
    z-index: -2;
    margin: auto 10% auto 0;
}

.contact-img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 50%;
    border-radius: 4px;
    /* top: 0;
    right: 0;
    z-index: -2;
    margin: auto 10% auto 0;
    border-radius: 4px; */
}

/* #contact img {
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
} */

/* .contact-img-div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: mediumturquoise;
    z-index: -1;
} */

.form-container {
    position: absolute;
    max-width: 20rem;
    height: 70%;
    background: var(--main-light);
    border-radius: 5px;
    overflow: hidden;
    margin-left: 10%;
    box-shadow: 0 7px 10px rgba(22, 22, 22, 0.8);
}

/* .form-container::before {
    position: absolute ;
    content: '';
    background-color: mediumturquoise;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
} */

.form-header {
    background: rgb(174, 245, 242);
    text-align: center;
}

.form-header h3 {
    padding: 1.4rem;
}

.form {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    width: 100%;
}

.form-section {
    position: relative;
    margin-bottom: 1rem;
}

.form-section i {
    position: absolute;
    top: 28px;
    right: 5px;
    visibility: hidden;
}

.form .error-message {
    visibility: hidden;
}

.form label {
    display: block;
    padding-bottom: .2rem;
}

.form input,
.form textarea,
.form button {
    padding: .3rem;
    border-radius: 4px;
    border: 1px solid #333;
}

.form input {
    width: 100%;
}

.form textarea {
    width: 17rem;
    height: 5rem;
}

.submit {
    width: 100%;
}

.form-section.error .fa-exclamation-circle{
    visibility: visible;
    color: rgb(223, 59, 37);
}

.form-section.error input{
    border: 1px solid rgb(223, 59, 37);
}

.form-section.error .error-message {
    visibility: visible;
    color: rgb(223, 59, 37);
}

.form-section.success .fa-check-circle {
    visibility: visible;
    color: rgb(22, 114, 22);
}

.form-section.success input{
    border: 1px solid rgb(22, 114, 22);
}

/* Footer */

.footer {
    background: rgb(12, 11, 11);
    font-size: 1.2rem;
    color: var(--main-color);
    text-align: center;
    padding: 1rem;
}


@keyframes showContent {
    from {transform: translateX(1000px); opacity: 0;}
    to {transform: translateX(0); opacity:1;}
}

@media screen and (max-width: 790px) {
    .showcase-content h1 {
        font-size: 2rem;
    }

    .showcase-content h3 {
        font-size: 1.6rem;
    }

    #about img {
        object-position: 90% 50%;
    }
  
    .about-text {
        height: 80%;
        width: 70%;
        top: 10%;
        left: 30%;
        justify-content: center;
        background-image: linear-gradient(to right, rgb(255, 255, 255, 0),rgb(255, 255, 255, 1), rgb(255, 255, 255, 1) ,rgb(255, 255, 255, 1), rgb(255, 255, 255, 1));
    }

    .about-text .presentation,
    .about-text .edu {
        padding-left: 3rem;
    }
}

@media screen and (max-width: 768px) {

    .nav-container {
        height: 5.5rem;
        align-items: center;
        position: relative;
    }
   
    .nav-toggle {
        position: absolute;
        display: block;
        top: 30%;
        right: 8%;
    }
    
    .nav-toggle input {
        height: 35px;
        width: 35px;
        opacity: 0;
        cursor: pointer;
        z-index: 1;
        position: absolute;
        display: block;
    }
    
    .nav-toggle span {
        background: #fff;
        height: 4px;
        width: 35px;
        border-radius: 4px;
        position: absolute;
        top: 5px;
        display: block;
    }

    .nav-toggle .line1 {
        transform-origin: 0 0;
        transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1), width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    
    .nav-toggle .line2 {
        top: 17px;
        transform: translateX(0);
        transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .nav-toggle .line3 {
        top: 29px;
        transform-origin: 0 100%;
        transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1), width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .nav-ul {
        position: absolute;
        z-index: 3;
        margin-top: 62px;
        margin-left: 87px;
        transform: translateX(60px);
        background: var(--dark);
        display: inline-block;
        
    }

    .nav-ul li {
        text-align: right;
        display: block;
        border-bottom: rgb(45, 151, 141) 1px dotted;
    }

    .nav-ul li:last-child {
        border-bottom: none;
    }

    .nav-ul li a {
        color: #fff;
    }

    .nav-toggle input:checked ~ .nav-ul {
        transform: translateX(-220px);
        transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s;
    }

    .nav-toggle input:not(:checked) ~ .nav-ul {
        transform: translateX(0);
        transition:  transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s;
    }

    .nav-toggle input:checked ~ .line1 {
        transform: rotate(40deg);
        width: 39px;
    }
    .nav-toggle input:checked ~ .line3 {
        transform: rotate(-40deg);
        width: 39px;
    }
    .nav-toggle input:checked ~ .line2 {
        transform: translateX(50px);
        opacity: 0;
    }

    .showcase {
        height: 90vh;
    }

    #about {
        height: 70vh;
    }

    #about img {
        height: 100%;
    }
  
    .about-text {
        height: 100%;
        width: 70%;
        top: 0;
        left: 30%;
        justify-content: center;
        background-image: linear-gradient(to right, rgb(255, 255, 255, 0),rgb(255, 255, 255, 1), rgb(255, 255, 255, 1) ,rgb(255, 255, 255, 1), rgb(255, 255, 255, 1));
    }

    .about-text .presentation,
    .about-text .edu {
        padding-left: 3rem;
    }
    

    .img-container {
        flex: 1;
    }

    .text-container {
        flex: 1;

    }

    .img-container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--main-color);
        opacity: 0;
        transform: translate(-500px, -500px) scale(3) rotate(-28deg);
        z-index: 2;
        transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
    }
    
    .img-container:hover::before {
        transform: (-500px, -500px) scale(3) rotate(-28deg);
    }
    .img-container:hover .colab-img {
        transform: scale(1);
    }
    
    .img-container:hover a {
        background: rgb(236, 235, 235, .3);
    }
    
    .img-container:hover a:hover {
        background: rgb(236, 235, 235, .3);
    }
}

@media screen and (max-width: 480px) {

    /* Showcase/landing */
    .showcase-content {
        position: absolute;
        top: 77%;
        left: 30%;
        text-align: center;
        z-index: 1;
        color: #fff;
        margin: auto;
        padding: 1rem;
    }
    .showcase-text h1 {
        font-size: 1.5rem;
    }
    .showcase-text h3 {
        font-size: 1rem;
        transform: translateX(-20px);
    }

    .nav-toggle {
        right: 15%;
    } 

    /* Abuot-page styling */
    #about {
        height: 100vh;
    }
    #about img {
        display: none;
    }
    .about-text {
        padding: 2rem;
        background: #fff;
        top: 10%;
        left: 10%;
        right: 10%;
        height: 80%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about-text .presentation {
        font-size: 1rem;
        margin-bottom: 2rem;
        margin-left: 0;
        padding-left: 0;
    }
    
    .about-text h3 {
        margin: 1rem 0;
    }
    
    .about-text .edu {
        margin-left: 0;
        padding-left: 0;
    }

    /* Collaborations styling */

    #colab {
        padding: 1rem 0;
    }

    .article-container {
        flex-direction: column-reverse;
        background: #fff;
        margin: 2rem;
        box-shadow: 0 2px 5px rgba(0, 0,0,0.3);
    }

    .img-container {
        margin: auto;
        overflow: hidden;
        box-shadow: none;
    }
    .text-container {
        margin: 0;
        box-shadow: none;
        text-align: center;
    }

    .colab-img {
        padding-bottom: 1rem;
    }

    .article-container:first-child {
        padding-top: 0;
    }

    .article-container:last-child {
        padding-bottom: 0;
    }

    /* Form styling */
    
    .form-container {
        height: 85%;
        margin: 0 auto;
    }

    #contact {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact-img {
        display: none;
    }

    
}

@media screen and (max-width: 330px) {
    .showcase {
        height:85vh;
    }
    .img-container {
    width: 13rem;
    height: 13rem;
    }

    .nav-toggle {
    right: 15%;
    }

    .about-text .presentation, 
    .about-text .edu {
        font-size: .9rem;
        padding-left: 0;
    }

    #contact {
        height: 75vh;
    }

    .form-container {
        width: 90vw;
        height: 75vh;
    }

    .form textarea {
        width: 15rem;
    }

    .img-container {
        overflow: hidden;
    }

    .img-container a {
        font-size: 1.2rem;
        padding: .3rem;
        top: 70%;
        
    }

    .footer {
        font-size: .8rem;
    }
}